doctype html

html(lang="#{locale}")
    head
        title #{title}

    body
        h1 #{title}

        h2 #{subtitle}
        ul
            li: a #{item1}
            li: a #{item2}
            li: a #{item3}
